<div class ="text-center border pt-6 pb-4 ml-5">
<div class="mb-2">
<img class="img-circle" src="https://scontent.fhan3-1.fna.fbcdn.net/v/t1.6435-9/170990961_1717037548467948_3640473688951023521_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=ioB19UDqcR4AX-B1r24&_nc_ht=scontent.fhan3-1.fna&oh=fd42db7f2780a02da1154c9a9e7e5869&oe=60CBCF12" alt="" width="168" height="167">
  </div>
  <h3 class="h4"><%= @agent.full_name %></h3>
  <p> <%= @agent.company %> </p>
  <button class="btn btn-info text-uppercase">Điện Thoại </button>
  <button class="btn btn-success text-uppercase">Email  </button>
</div>